
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: 0px!important;
    padding: 0px!important;
    background-color: #eef3fa;
    height: 100%!important;
}
.top-navbar{
    width: 100%;
    margin: 0px;
    background-color: #0088b2!important;
}

.navbar{
    margin-bottom: 0px;
}

.menu-item li{
    border-right: solid 1px #0f8fb6;
}



nav div div ul li a{
color: #5bc0de!important;
}

.mainContent{
    width: 100%;
    height: 100%!important;
    background-color: #f8f8f8;
}

.body_content{
    width: 80%;
    margin-left: 10%;
}
.second-navbar{
    margin-top: 1%;
    height: 20px;
    background-color: #f0f0f0;
    border: 1px solid #dddddd;
    border-radius: 0;
    margin-bottom: 0px;
}

.menu_bottom li{
    border-right: solid 1px #dddddd;
}


.menu_bottom li a{
color: #3c3c3c!important;
}

.top_banner{
    width: 100%;
    height: 150px;
}

.social_and_search{
    margin-top: 5%;
    width: 45%;
}

.social_icons{
    float: left;
    display: block;
    

}

.search_option{
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    border-right: none;
}

.search_form{
    border:1px solid #dddddd;
}

.search_form input{
    float: left;
}

.search_button{
    float: left;
    border-left: none;
    background-color: #ffffff;
}

.main_body{
    height: 100%
}

.articles{
    border-radius: 0px;
    float: left;
    width: 72%;
    height: 70%;
}
.article_content{
    padding: 1%;
    margin: 1%;
}

.article{
    border: 1px solid #dddddd;
    border-radius: 2px;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    margin-top: 1%;
}

.article_title h4{
    margin-top: 1%;
    margin-bottom: 5px!important;
}

.article_image_and_desc{
    margin: 0%;
    padding:0%;
}


.article_image_and_desc div img{
    height: 100px;
    width: 150px;
    float: left;
    display: block;
}

.article_image_and_desc div p{
    display: block;
}

h4{
    margin-top: 2%;
}

.article_description{
    width: 463px;
    height: 118px;
    margin-left: 155px;
   padding: 1%;
}

.sidebar_items{
    height: 100%;
    margin-left: 1%!important;

}

.top_sidebar{
    width: 100%;
    max-height: 30%;
    float: left;
    background-color: #f0f0f0;
    border: 1px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
    border-radius: 2px;
    overflow: hidden!important;
}

.middle_sidebar{
    width: 100%;
    max-height: 40%;
    float: left;
    background-color: #f0f0f0;
    border-radius: 2px;
    margin-top: 4%;
    overflow: hidden;
}

.bottom_sidebar{
    width: 100%;
    max-height: 40%;
    float: left;
    background-color: #f0f0f0;
    border-radius: 2px;
    margin-top: 4%;
    overflow: hidden;
}

.mainFooter{
    height: 250px;
    width: 100%;
    background-color: #262626;
    color: white;
    margin: 0px!important;
    position: static;
    bottom: 0;
    display: block;

}

.footer_container{
    margin: 0px!important;
}

.sidebar_items {
    float: left;
    margin-left: 3%;
    width:27%;
}

.sidebar_image{
    width: 25%;
    margin-right: 2%;
    float: left;
    display: block;
}

.sidebar_desc{
    padding: 1%;
}

.category{
    margin: 1%;
    padding: 1%;
}

.category_header{
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 4%;
}

.category_content{
    height: 100%;
    width: 100%;
}
.category_content a{
    text-decoration: none;
    background-color: #e2e2e2;
    color: #778bbb;
    font-size: 15px;
    text-align: center;
    margin: 3% 3% 3% 3%;
    padding: 1%;
    display: block;
    width: 40%;
    float: left;
}

.comments a{
    text-decoration: none;
    color: #778bbb;
    font-size: 15px;
}
.sidebar_comment{
  max-height: 80px;
    overflow: hidden;
}
.sidebar_comment_image{
    width: 15%;
    float: left;
    margin-right: 7%;
}
.sidebar_comment_image img{
    border-radius: 10px;
}
.comment_post{
    margin-bottom: 2%;
    max-height: 60px;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
}

.comment_post:last-child{
    border-bottom: 0px solid #e2e2e2;
}

.sidebar_image{
    width: 15%;
    float: left;
    margin-right: 2%;
}
.popular_article{
    margin-bottom: 2%;
    height: 120px;
    border-bottom: 1px solid #e2e2e2;
}

.sidebar_article_image{
    width: 15%;
    float: left;
    margin-right: 21%;

}

.sidebar_article_image img{
    border: 5px solid #e2e2e2;
}
/*...............pagination..................*/

ul.pagination {
    display: inline-block;
    padding: 0;
    margin-left: 22%;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/*................pagination....................*/

/*.................Footer...........................*/

.blogroll{
    margin-top: 2%;
    margin-left: 6%;
}

.blogroll h4{
    border-bottom: 3px solid #333333;
}

.blogroll ul{
    list-style: none;

}

.blogroll ul li{
    border-bottom: 1px solid #333333;
    display: block;
    margin: 4%;
}

.blogroll ul li a{
    text-decoration: none;
    margin-left: 2%;
    color: #999999;
}

.recent_posts{
    margin-top: 2%;
    margin-left: 6%;
}

.recent_posts h4{
    border-bottom: 3px solid #333333;
}

.recent_posts ul{
    list-style: none;

}

.recent_posts ul li{
    border-bottom: 1px solid #333333;
    display: block;
    margin: 4%;
}

.recent_posts ul li a{
    text-decoration: none;
    margin-left: 2%;
    color: #999999;
}

.about{
    margin-top: 2%;
    margin-left: 6%;
}

.about h4{
    border-bottom: 3px solid #333333;
}

.about_us p{
    color: #999999;
    margin: 4%;
    padding: 4%;
}

.top_arrow{
    margin-left: 40%;
}

/*...................Footer...............................*/