
.article_path {
    background-color: #FFFFFF;
    width: 72%;
    height: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #dddddd;
    float: left;
}

.article_path a{
    margin: 1%;
    padding-top: 2%;
    overflow: hidden;
}

.full_article_description{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    margin-top: 1%;
    border-bottom: none;
    float: left;

}

.article_details{
    border-radius: 0px;
    float: left;
    width: 72%;
    height: 70%;
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
}

/*.related_posts{*/
    /*background-color: #FFFFFF;*/

/*}*/

.article_body p{
    margin: 2%;
    padding-top: 2%;
}

.article_title{
    margin: 2%;
    padding-top: 2%;
}

.article_image{
    float: right;
    margin: 2%;
}

.social_like_share_button{
    width: 100%;
    background-color: #FFFFFF;
    height: 100px;
    border-bottom: 1px solid #dddddd;
}

.twitter_button{
    margin: 2%;
    float: left;
}

.fb_button{
    float: left;
    margin: 2%;
}

.related_posts h2{
    margin-left: 2%;
}
.related_posts{
    width: 100%;
    background-color: #FFFFFF;

}

.related_post_description{
    border: 2px solid #dddddd;
    width: 100%;

}

.related_post_content{
    float: left;
    margin: 2%;
    background-color: #FFFFFF;
}

.related_post_label{
    margin: 2%;
}

.sidebar_items{
    float: right;
    margin-top: 1%;
}

.all_user_comment{
    width: 72%;
    background-color: #FFFFFF;
    margin-top: 1%!important;
    height: auto;
    float: left;
    border-bottom: 1px solid #dddddd;
}

.user_comment_form{
    margin: 2%;
}

.user_image{
    margin: 2%;
    float: left;
}

.user_name{
    margin: 2%;
    /*margin-left: 1%;*/
    float: left;
}

.user_comment form{

}
.user_comment_form form input{
    height: 65px;
    width: 100%;
    margin-top: 2%;
    position: relative;
}

.reply_button{
    float: right;
    margin-right: 4%;
    margin-bottom: 2%;
    position: static;
    background-color: #e1e1e2;
    color: #0095c5;
    border-radius:0px;
}

.all_user_comment{
    margin-top: 4%;
    background-color: #FFFFFF;
    width: 72%;
    height: auto;
}